*.ipynb_checkpoints
*anaconda_projects
.venv

clean_data.csv
data.csv
*data_nervioso.csv
*data_clean.csv
*data_original.csv
Ad_dataset.geojson
Dataset.csv
Ad_Dataset2.csv
Ad_Dataset3.xlsx
*data

*DS_Store